venv/
dist/
/.idea
.idea
.idea/
logs/
bg_service/pm_func_v2.py
bg_service/test.spec
bg_service/hello.py
bg_service/default*
bg_service/dist/
build/
bg_service/build
../.DS_Store
.DS_Store
.python-version
__pycache__
bg_service/test.log
bg_service/test.py
cron/hello.sh
cron/test.sh
db_scripts/test.py
data/js_rawdata.py
data/.ipynb_checkpoints/
data/process.ipynb
id_rsa
/bg_service/log.txt
