Flask==1.1.1
Flask-RESTful==0.3.7
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-JWT-Extended==3.10.0
Flask-Cors==3.0.8
PyMySQL==0.9.3
gunicorn==19.4.5
requests==2.22.0
SQLAlchemy==1.3.5
urllib3==1.24.2
opentracing==2.2.0
git+ssh://git@172.18.0.108/DEV/bb_logger_py.git
